@page "/admin/league-archive"
@using System.ComponentModel
@inject AuthService AuthService
@inject NavigationManager Nav

@if (!_checked)
{
    <p>Loading...</p>
}
else
{
    <div style="padding:2rem;">
        <div style="display:flex; justify-content:space-between; align-items:center; margin-bottom:2rem;">
            <h1 style="margin:0;">League archive Administrator page</h1>
        </div>
    </div>

    <p>
     Mainly for compliance (CRUD) for GDPR easily adding/removing results. 
    </p>
}

@code {
    private bool _checked = false;

    protected override async Task OnInitializedAsync()
    {
        if (!await AuthService.IsAuthenticatedAsync())
            Nav.NavigateTo("/admin/login");

        _checked = true;
    }

    
}

